@CHARSET "UTF-8";
.mt01{
	margin-top: 1px;
}
.mt02{
	margin-top: 2px;
}
.mt03{
	margin-top: 3px;
}
.mt04{
	margin-top: 4px;
}
.mt05{
	margin-top: 5px;
}
.mt06{
	margin-top: 6px;
}
.mt07{
	margin-top: 7px;
}
